/* Importação de fontes do Leaflet - deve vir primeiro */
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Correções para o Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
